.subjectBox {
    background-color: rgb(220, 243, 243);
}
.subjectContainer {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}
.subjectSubContainer {
    position: relative;
    padding: 10px;
}


.card-containers {
    text-align: left;
    font-size: 20px;
    border-radius: 15px;
    text-align:justify;
    justify-content: center;
    h3 {
        text-align: center;
    }
}
.card-containers:hover {
    box-shadow: 0px 0px 15px 0px #000000;
    cursor: pointer;
}